        .form-box {
            width: 380px;
            height: 270px;
            position: relative;
            margin: 2% auto;
            background: rgb(255, 255, 255);
            padding: 10px;
            overflow: hidden;
        }
   
        .button-box {
            width: 85%;
            padding: 10px 30px;
            text-align:center;
            display: block;
            margin: auto;
            
            border: 0;
            outline: none;
           
            
           
            position: relative;
            box-shadow: 0 0 20px 9px #0000001f;
            border-radius: 30px;
        }
 
        .output-group-login {
            top: 150px;
            position: absolute;
            width: 280px;
            transition: .5s;
        }
        
        .output-field {
            width: 100%;
            padding: 10px 0;
            margin: 5px 0;
            border-left: 0;
            border-top: 0;
            border-right: 0;
            outline: none;
            background: transparent;
        }

        .submit-btn {
            width: 85%;
            padding: 10px 30px;
            cursor: pointer;
            display: block;
            margin: auto;
            background: rgb(224, 219, 219);
            border: 0;
            outline: none;
            border-radius: 30px;
        }
       
        span {
            color: rgb(0, 0, 0);
            text-align: center;
            font-size: 18px;
            position: absolute;
        }

        #MenuItems {
            width: 100%;

        }
        body{
            background:black ;
        }
        .container{
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/background.png);
            background-position: center;
            background-size: cover;
            padding-left: 8%;
            padding-right: 8%;
            box-sizing: border-box;
        }
        .navbar{
            height: 12%;
            display: flex;
            align-items: center;
        }
        .logo{
            width: 50px;
            cursor: pinter;
        }
        .menu-icon{
            width: 30px;
            cursor: pointer;
            margin-left: 40px;
        }
        nav{
            flex: 1;
            text-align: right;
        }
        nav ul li{
            list-style: none;
            display: inline-block;
            margin-left: 60px;
        }
        nav ul li a{
            text-decoration: none;
            color: #fff;
            font-size: 13px;
        }
